git+https://github.com/huggingface/datasets.git
git+https://github.com/huggingface/transformers.git
cffi==1.14.6
importlib_resources==5.2.2
jiwer==2.2.0
numpy==1.19.5
sounddevice==0.4.2
soundfile==0.10.3.post1