[cltl.demo.config]
name: Template

[cltl.demo.events]
producer_topic: cltl.demo.producer
consumer_topic_in: cltl.demo.producer
consumer_topic_out: cltl.demo.consumer_out
duration: 60

[cltl.event.kombu]
server: amqp://cltl:cltl@cltl-demo-rabbitmq:5672
exchange: cltl.combot
type: direct
compression: bzip2